@{
    ViewData["Title"] = "Inicio";
}

<div class="hero-section text-center">
    <h1 class="titulo-principal">Catálogo de Álbumes BTS</h1>
    <video autoplay loop muted playsinline class="hero-video-local">
        <source src="~/videos/bts-loop.mp4" type="video/mp4" />
        Tu navegador no soporta la reproducción de video.
    </video>
    
   
    
    <p class="subtitulo">Explora y gestiona tu colección musical de Bangtan. Una discografía llena de historia y talento.</p>
    
    <a asp-controller="Catalogo" asp-action="Index" class="btn-explorar">
        Explorar Catálogo 💜
    </a>
</div>